@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Poppins:wght@400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Concert+One&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  padding: 3%;
  background-color: white;
}
.app{
  min-height: 110vh;
 padding: 30px;
 background-color: rgba(162, 167, 154, 0.791);
}


.container{
  max-width: 40%;
  margin: auto;
  padding: 0 1rem;
}

.task{
  font-family: 'Comforter', cursive;
  font-size: 80px;
  margin-top: 5rem;
  text-align: center;
}

.top{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.icon{
  padding: 1px;
}

input{
  border: none;
  outline: none;
  background-color: rgba(162, 167, 154, 0.791);
  width: 400px;
  padding:0.5rem;
  border-bottom: 3px solid #2c5245;
  border-radius: 5px;
font-family: 'Concert One', cursive;
}
input:focus-visible {
  outline: 2px solid #2c5245;
  border-radius: 3px;
}

.add{
  background-color: #2c5245;
  font-family: 'Concert One', cursive;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 5px ;
}

.todo{
  position: relative;
  margin-top: 1rem;
  background-color: #2c5245;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.icons{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  font-size: 20px;
}

.desc{
  padding: 2px;
  font-family: 'Concert One', cursive;
  font-size: 13px;
  font-weight: 100;
}

.text{
  max-width: 30%;
  font-size: 25px;
font-family: 'Concert One', cursive;
cursor: pointer;
}

.arrow{
  padding-top: 10px;
  position: absolute;
  top: 43px;
  left:47px;
}




@media  screen and (max-width:569px) {
  .text{
    max-width: 30%;
    font-size: 25px;
    font-family: 'Concert One', cursive;
    cursor: pointer;
  }
  .icon{
    cursor: pointer;
    font-size: 25px;
  }
  .desc{
    position: absolute;
    top: 43px;
    left: 50px;
    padding: 2px;
    font-family: 'Concert One', cursive;
    font-size: 10px;
    font-weight: 100;
  }
  .arrow{
    font-size: 13px;
    padding-top: 10px;
    position: absolute;
    top: 35px;
    left:37px;
  }
  .icons{
    font-size: 0px;
    position: absolute;
    top: 28px;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    gap: 0.5rem;
  }
  .todo{
    position: relative;
    margin-top: 1rem;
    background-color: #2c5245;
    color: #fff;
    padding: 0.7rem 0.7rem;
    border-radius: 5px;
  }
  .container{
    max-width: 80%;
    margin: auto;
    padding: 0 1rem;
  }
}